body {
  background: #FAFAFA;
  .main-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0px 1.0875rem 1.45rem;
  }

  table {
    width: 100%;
    margin: 6px 0;
    td, th {
      padding: 6px 8px;
      border: 1px solid #e8e8e8;
      white-space: normal;
      word-wrap: break-word;
      word-break: break-all;
    }
    th {
      background: #f2f2f5;
    }
  }
}
